.okField{
    -fx-background-color : #F3F3F3;
}

.ok{
   -fx-control-inner-background:  #9C2827;
   -fx-prompt-text-fill: white;
}

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.changeLangButton{
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 10pt;
}
.changeLangButton:hover{
    -fx-text-fill: red;
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;

}
/*.menu .label
{
    -fx-text-fill: white;
}


.menu-item {
    -fx-background-color: #bb6a68;
    -fx-padding: 0em 0em 0em 0em;
    -fx-text-fill: white;
}
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}
#d35b50
*/
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: -fx-accent;
    -fx-background-color: #2e67bd;
    -fx-opacity: 0.9;
    -fx-text-fill: -fx-selection-bar-text;
}


.menu-bar{
  -fx-background-color: #2A2E37;

}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-text-fill: white;

}
#date{
    -fx-text-fill: white;
}
.menu-item .label{
      -fx-font-size: 15 pt;
      -fx-background-color: #d35b50;
      -fx-border-color : #d35b50;
 }

 .menu-item:hover{
     -fx-background-color: #d35b50;
 }
 .anchor {
    -fx-background-image: url("file:/C:/Users/PiLjA/IdeaProjects/rpr20-projekat-epiljug1/resources/images/login2.jpg");
    -fx-background-opacity-image:1;
 }
/*
#file:hover{

    -fx-border-color: #485167;
    -fx-border-width: 0px 0px 3px 0px;
}
.menu:hover {
    -fx-background-color: #d15452;
     -fx-border-color: #660099;
     -fx-border-width: 0px 0px 3px 0px;
}







.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;


}

.context-menu .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; */
/* 5 *//*

    -fx-background-color: #006699;
}

.context-menu .scroll-arrow:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #006699;
    -fx-text-fill: -fx-selection-bar-text;
}

.context-menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}
*/















/*
.menu-bar {
    -fx-background-color: #bb6a68;
}*/
.ne{
   -fx-border-color: red;
   -fx-border-width: 2;
   -fx-border-radius: 1;

}
.btn{
-fx-background-color : #b3bcbc;
}

/*
#a28481
#b27670
d35b50

*/

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -jfx-focus-color: -fx-secondary;
     -fx-text-fill: derive(-fx-secondary, 100%);
   /* -fx-font-size : 12pt;

    -fx-text-fill: derive(-fx-secondary, 20%);*/
}

.btn:hover{
    -fx-background-color : #b27670;
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}
.btn:pressed{
-fx-background-color : #d35b50;
}

