.okField{
    -fx-background-color : #F3F3F3;
}

.ok{
   -fx-control-inner-background:  #9C2827;
   -fx-prompt-text-fill: white;
}
.menu .label
{
    -fx-text-fill: white;
}

.ne{
   -fx-border-color: red;
   -fx-border-width: 2;
   -fx-border-radius: 1;

}
.btn{
-fx-background-color : #b7b8b8;
}

.btn:hover{
-fx-background-color : #a28481;
}
.btn:pressed{
-fx-background-color : #b27670;
}

